/* Global Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}




/* Global Variables */
:root {
    --font-heading: 'Cormorant Garamond', serif;
    --font-body: 'Inter', sans-serif;

    --color-primary: #1F4F34;
    --color-primary-dark: #173B27;
    --color-bg: #F7FAF6;
    --color-surface: #FFFFFF;
    --color-text: #0A0A0A;
    --color-muted: #646D75;
    --color-border: #E4E7E2;

    --color-success: #008000;
    --color-warning: #BC6C25;
    --color-danger:  #9D0208;
}




/* Body Layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-body);
    font-size: 0.95rem;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--color-text);
}





/* Global Text Colors */
.text-muted {
    color: var(--color-muted) !important;
}

.text-easy {
    color: var(--color-success);
    font-size: 0.9rem;
    font-weight: 700;
}

.text-moderate {
    color: var(--color-warning);
    font-size: 0.9rem;
    font-weight: 700;
}

.text-hard {
    color: var(--color-danger);
    font-size: 0.9rem;
    font-weight: 700;
}

.text-approved{
    color: var(--color-success);
    font-size: 0.9rem;
    font-weight: 700;
}

.text-pending{
    color: var(--color-warning);
    font-size: 0.9rem;
    font-weight: 700;
}

.text-rejected{
    color: var(--color-danger);
    font-size: 0.9rem;
    font-weight: 700;
}

.text-active{
    color: #1D4ED8;
    font-size: 0.9rem;
    font-weight:700;
}

.text-blacklisted{
    color: var(--color-muted);
    font-size: 0.9rem;
    font-weight:700;
}




/* Reusable Main Container */
.main-container {
    flex: 1;
    width: 100%;
    padding-inline: 1rem;
}




/* Global Footer */
#main-footer {
    margin-top: auto;
    font-size: 0.75rem;
    color: var(--color-muted);
    background-color: var(--color-surface);
    border-top: 1px solid var(--color-border);
}




/* Flash Messages Section */
#flash-section {
    position: fixed;
    bottom: 5rem;
    right: 1.45rem;
    z-index: 1055;
    transform: scale(0.9);
    transform-origin: bottom right;
}

#flash-section .alert {
    border-radius: 8px;
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
    opacity: 0.9;
}

#flash-section .alert-danger {
    background-color: var(--color-danger);
    border: none;
    color: var(--color-surface);
}

#flash-section .alert-success {
    background-color: var(--color-success);
    border: none;
    color: var(--color-surface);
}

#flash-section .alert-warning {
    background-color: var(--color-warning);
    border: none;
    color: var(--color-text);
}

#flash-section .btn-close {
    filter: invert(1);
}




/* Global Buttons */
.btn-primary-custom {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-surface);
    transition: all 0.2s ease;
}

.btn-primary-custom:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
    color: var(--color-surface);
}

.btn-success-custom {
    background-color: var(--color-success);
    border-color: var(--color-success);
    color: var(--color-surface);
    transition: all 0.2s ease;
}

.btn-success-custom:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-surface);
}

.btn-success-custom:disabled {
    background-color: var(--color-success);
    border-color: var(--color-success);
    color: var(--color-surface);
    opacity: 0.6;
}

.btn-danger-custom {
    background-color: var(--color-danger);
    border-color: var(--color-danger);
    color: var(--color-surface);
    transition: all 0.2s ease;
}

.btn-danger-custom:hover {
    background-color: #850207;
    border-color: #850207;
    color: var(--color-surface);
}

.btn-danger-custom:disabled {
    background-color: var(--color-danger);
    border-color: var(--color-danger);
    color: var(--color-surface);
    opacity: 0.6;
}

.btn-activate-custom {
    background-color: #1D4ED8;
    border-color: #1D4ED8;
    color: var(--color-surface);
    transition: all 0.2s ease;
}

.btn-activate-custom:hover {
    background-color: #1A45C2;
    border-color: #1A45C2;
    color: var(--color-surface);
}

.btn-activate-custom:disabled {
    background-color: #1A45C2;
    border-color: #1A45C2;
    color: var(--color-surface);
    opacity: 0.6;
}

.btn-muted-custom {
    background-color: var(--color-border);
    border-color: var(--color-border);
    color: var(--color-text);
    transition: all 0.2s ease;
}

.btn-muted-custom:hover {
    background-color: var(--color-muted);
    border-color: var(--color-muted);
    color: var(--color-surface);
}




/* Separate Global Buttons For Users, Staff and Admin */
.btn-user {
    background-color: #023E8A;
    border-color: #023E8A;
    color: var(--color-surface);
    transition: all 0.2s ease;
}

.btn-user:hover {
    background-color: #012F6B;
    border-color: #012F6B;
    color: var(--color-surface);
}

.btn-user:disabled {
    background-color: #023E8A;
    border-color: #023E8A;
    color: var(--color-surface);
    opacity: 0.6;
}

.btn-staff {
    background-color: #55331D;
    border-color: #55331D;
    color: var(--color-surface);
    transition: all 0.2s ease;
}

.btn-staff:hover {
    background-color: #3B2213;
    border-color: #3B2213;
    color: var(--color-surface);
}

.btn-admin {
    background: #3F4E5A;
    border-color: #3F4E5A;
    color: var(--color-surface);
    transition: all 0.2s ease;
}

.btn-admin:hover {
    background: #33404A;
    border-color: #33404A;
    color: var(--color-surface);
}

.btn-admin:disabled {
    background: #3F4E5A;
    border-color: #3F4E5A;
    color: var(--color-surface);
    opacity: 0.6;
}




/* Form Layout */
.form-card {
    width: 100%;
    max-width: 420px;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: var(--color-surface);
}

.form-label {
    font-weight: 500;
    color: var(--color-text);
}

.form-control,
textarea {
    padding: 0.65rem 0.9rem;
    border: 1px solid var(--color-border);
    border-radius: 8px;
}

.form-control:focus,
textarea:focus {
    border-color: var(--color-primary);
    box-shadow: none;
}




/* Auth Page Layout */
.auth-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Dashboard Layout */
.app-layout {
    flex: 1;
    display: flex;
}




/* Dashboard Shell */
.app-shell {
    flex: 1;
    display: flex;
    flex-direction: column;
}



 

/* Dashboard Sidebar */
.sidebar {
    width: 210px;
    flex-shrink: 0;
    background-color: var(--color-surface);
    border-right: 1px solid var(--color-border);
}




/* Sidebar Navigation */
.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    padding: 0.5rem;
    margin-bottom: 0.45rem;

    border-radius: 5px;

    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;

    transition: all 0.2s ease;
}

.sidebar .nav-link:hover {
    background-color: #C4CEC0;
    color: var(--color-text);
}

.sidebar .nav-link.active {
    background-color: var(--color-primary);
    color: var(--color-surface);
    font-weight: 600;
}

.sidebar small {
    letter-spacing: 3px;
}

.sidebar .logout {
    color: var(--color-danger);
}

.sidebar .logout:hover {
    color: var(--color-surface);
    background-color: #D9485A;
}




/* Dashboard Card Font */
.dashboard-stat {
    font-family: var(--font-body);
    color: var(--color-primary-dark);
    font-weight: 600;
}