{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="auth-layout main-container">
    <div class="text-center py-5">

        <h1 class="display-3 fw-bold mb-0">
            Adventure Awaits Beyond the Horizon
        </h1>
        <hr>
        <p class="lead mb-1 text-muted">
            Discover breathtaking treks, book guided adventures, and explore the great outdoors.
        </p>

        <!-- Redirect Buttons -->
        <div class="d-flex justify-content-center align-items-center gap-3 p-2">

            <a href="{{ url_for('auth.register_user') }}" class="btn btn-user">
                <i class="bi bi-person-plus me-2"></i>
                Register as Trekker
            </a>
            <a href="{{ url_for('auth.register_staff') }}" class="btn btn-staff">
                <i class="bi bi-person-workspace me-2"></i>
                Register as Staff
            </a>
            <a href="{{ url_for('auth.login') }}" class="btn btn-primary-custom">
                <i class="bi bi-box-arrow-in-right me-2"></i>
                Login
            </a>

        </div>

    </div>
</div>
{% endblock %}